<br>
<legend class="text-center">TU PEDIDO</legend>
<table class="table table-default" id border="3px">
  <tr class="table table-light" colspan="7">
    <td colspan="1" nowrap>ID</td>
    <td colspan="1" nowrap>NOMBRE</td>
    <td colspan="1" nowrap>PRECIO</td>
    <td colspan="1" nowrap>CATEGORIA</td>
    <td colspan="1" nowrap>MARCA</td>
    <td colspan="1" nowrap>PESO</td>
    <td colspan="1" nowrap>CANTIDAD</td>
    <td colspan="1" nowrap>TOTAL</td>
  </tr>
  <tr colspan="7" *ngFor="let item of cartItems">
    <td colspan="1" nowrap>{{item.id}}</td>
    <td colspan="1" nowrap>{{item.nombre}}</td>
    <td colspan="1" nowrap>{{item.precio}}</td>
    <td colspan="1" nowrap>{{item.categoria}}</td>
    <td colspan="1" nowrap>{{item.marca}}</td>
    <td colspan="1" nowrap>{{item.peso}}</td>
    <td colspan="1" nowrap>{{item.cantidad}}</td>
    <td colspan="1" nowrap>{{item.cantidad * item.precio}}</td>
  </tr>
</table>
<table border="3px">
  <tr colspan="7" >
    <td colspan="6">TOTAL A PAGAR</td>
    <td colspan="1">{{sum()}}</td>
  </tr>
</table>
<form [formGroup]="pagoForm" (ngSubmit)="pay()">
  <fieldset>
    <div class="pl-lg-5 pr-lg-5">
      <legend class="text-center">DATOS DE ENVÍO</legend>
      <div class="form-group"><label for="exampleInputId">Número de Identificación</label> <input type="text" formControlName="nId"
                                                                                    class="form-control"
                                                                                    id="exampleInputId"
                                                                                    placeholder="Número de Identificación">
      </div>
      <div class="form-group"><label for="exampleInputNombre">Nombre</label> <input type="text" formControlName="nombre"
        class="form-control"
        id="exampleInputNombre"
        placeholder="Nombre">
      </div>
      <div class="form-group"><label for="exampleInputApellido">Apellido</label> <input type="text" formControlName="apellido"
        class="form-control"
        id="exampleInputApellido"
        placeholder="Apellido">
      </div>
      <div class="form-group"><label for="exampleInputDireccion">Dirección</label> <input type="text" formControlName="direccion"
        class="form-control"
        id="exampleInputDireccion"
        placeholder="Dirección">
      </div>
      <div class="form-group"><label for="exampleInputTelefono">Teléfono</label> <input type="text" formControlName="telefono"
        class="form-control"
        id="exampleInputTelefono"
        placeholder="Teléfono">
      </div>
    </div>
  </fieldset>
</form>
<div align="right">
  <button type="submit" class="btn btn-block btn-primary" (click) = "pay()">
    IR A PAGAR
  </button>
</div>
