<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <br>
  <fieldset>
    <div class="pl-lg-5 pr-lg-5">
      <legend class="text-center">Iniciar Sesión</legend>
      <br>
      <div class="form-group"><label for="exampleInputEmail1">Correo</label> <input type="email" formControlName="email"
                                                                                    class="form-control"
                                                                                    id="exampleInputEmail1"
                                                                                    aria-describedby="emailHelp"
                                                                                    placeholder="Correo Electrónico: correo@ejemplo.com">
        <small
          id="emailHelp" class="form-text text-muted">Nunca compartiremos tus datos personales con nadie.</small></div>
      <br>
      <div class="form-group"><label for="exampleInputPassword1">Contraseña</label> <input type="password"
                                                                                           formControlName="password"
                                                                                           class="form-control"
                                                                                           id="exampleInputPassword1"
                                                                                           placeholder="Contraseña">
        <br><br>
        <button type="submit" class="btn btn-block btn-primary">Iniciar Sesión</button>

        
      </div>
    </div>
  </fieldset>
</form>
